<div
  data-test-loading-room
  class="tw-room-skeleton Box Link--muted p-4 mb-3 d-flex flex-column no-underline"
>
  <p data-test-loading-room-club-name class="tw-room-skeleton__club"></p>
  <p data-test-loading-room-title class="tw-room-skeleton__title"></p>
  <div class="d-flex">
    <div class="AvatarStack AvatarStack--two">
      <div
        class="AvatarStack-body tooltipped tooltipped-se tooltipped-align-left-1"
        aria-label="avatar"
      >
        <img
          data-test-loading-room-avatar
          class="avatar"
          height="20"
          width="20"
          alt="avatar"
          src="/assets/images/ghost-avatar.png"
        />
        <img
          data-test-loading-room-avatar
          class="avatar"
          height="20"
          width="20"
          alt="avatar"
          src="/assets/images/ghost-avatar.png"
        />
      </div>
    </div>
    <div class="d-flex flex-column">
      <span
        data-test-loading-room-attendee-name
        class="tw-room-skeleton__name"
      ></span>
      <span
        data-test-loading-room-attendee-name
        class="tw-room-skeleton__name"
      ></span>
      <span
        data-test-loading-room-attendee-name
        class="tw-room-skeleton__name"
      ></span>
    </div>
  </div>
</div>